<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Coleções
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../../../../assets/imgs/tests/sandro.jpg">
    <h4 class="name">{{ user.nome }}</h4>
    <p class="designation">{{ user.email }}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu_btn" [routerLink]="['colecoes']">
      <mat-icon>perm_media</mat-icon>
      <span>Coleções</span>
    </button>
    <button mat-button class="menu_btn" [routerLink]="['novo']">
      <mat-icon>library_add</mat-icon>
      <span>Novo</span>
    </button>
    <button mat-button class="menu_btn" [routerLink]="['perfil']">
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu_btn" (click)="onSignOut()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>